

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加链接</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">链接名称</label>
      <div class="layui-input-inline">
        <input type="hidden" id="id" name="id" lay-verify="required" autocomplete="off" class="layui-input" value="0">
        <input type="text" id="link_name" name="link_name" lay-verify="required" placeholder="链接名称" autocomplete="off" class="layui-input">
      </div>
      <label class="layui-form-label">链接URL</label>
      <div class="layui-input-inline">
        <input type="text" id="link_url" name="link_url" lay-verify="required" placeholder="请输入链接URL" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">QQ</label>
      <div class="layui-input-inline">
        <input type="text" id="qq" name="qq" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">排序</label>
      <div class="layui-input-inline">
        <input type="text" id="sort" name="sort" autocomplete="off" class="layui-input" value="0">
      </div>
      <label class="layui-form-label">发布状态</label>
      <div class="layui-input-inline">
        <input type="checkbox" lay-verify="required"  id="tab_isshow" name="tab_isshow" lay-skin="switch" lay-text="已发布|待修改">
      </div>
    </div>

    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>

  <script src="../static/layui/layui.js"></script>
  <script src="../static/js/common.js"></script>
  <script>
      var timestamp = (new Date()).valueOf();
      document.write('<script language="javascript" src="/json/data/country.js?v=' + timestamp + '"><\/script\>');
  </script>
  <script>
    var olddata;
     //修改初始化数据传入
     function child(data){
         olddata=data;
     }

  layui.config({
    base: '../static/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','upload', 'form'], function(){
    var $ = layui.$
        ,upload = layui.upload
        ,form = layui.form;

          //预加载旧数据
          if (olddata != undefined) {
              var datas = eval(olddata);
              //console.log(olddata);
              //表单初始赋值
              form.val('layuiadmin-app-form-list', {
                  "id": datas["id"] // "name": "value"
                  , "link_name": datas["link_name"] // "name": "value"
                  , "link_url": datas["link_url"]
                  , "qq": datas["qq"]
                  , "sort": datas["sort"]
                  , "tab_isshow": datas["tab_isshow"] == 1 ? false : true //复选框选中状态
              });
              form.render('select'); //刷新select选择框渲染
          }



    //监听提交
    form.on('submit(layuiadmin-app-form-submit)', function(data){
      var field = data.field; //获取提交的字段
	  $.ajax({
	  	type:'POST',
		url:'/json/links/add.php',
		data:field,
		success:function(data1)
		{
            if (checkqx(data1)) {
                //询问框
                layer.confirm('添加数据成功，关闭当前页！', {
                    btn: ['关闭', '取消'] //按钮
                }, function () {
                    //执行成功
                    parent.layui.table.reload('LAY-app-content-list'); //重载表格
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }, function () {
                    parent.layui.table.reload('LAY-app-content-list'); //重载表格
                });
            }
		},
		error:function()
		{
            layer.msg("更新数据失败，请查询错误信息！");
		}
	  }
	   
	  );
		parent.layui.table.reload('LAY-app-content-list'); //重载表格
    });

      //监听更新提交
      form.on('submit(layuiadmin-app-form-edit)', function(data){
          var field = data.field; //获取提交的字段
          $.ajax({
                  type:'POST',
                  url:'/json/links/add.php?t=edit',
                  data:field,
                  success:function(data1)
                  {
                      if (checkqx(data1)) {
                          //询问框
                          layer.confirm('更新数据成功，关闭当前页！', {
                              btn: ['关闭', '取消'] //按钮
                          }, function () {
                              //执行成功
                              parent.layui.table.reload('LAY-app-content-list'); //重载表格
                              var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                              parent.layer.close(index); //再执行关闭
                          }, function () {
                              parent.layui.table.reload('LAY-app-content-list'); //重载表格
                          });
                      }
                  },
                  error:function()
                  {
                      layer.msg("更新数据失败，请查询错误信息！");
                  }

              }

          );
      });

  })
  </script>
</body>
</html>