

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加类型</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item" id="itemtype_div">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline" style="width: 150px;">
            <select name="itemtype_id"  id="itemtype_id" lay-filter="itemtype_id" lay-search="">
            </select>
            <input type="hidden" id="id" name="id" lay-verify="required" autocomplete="off" class="layui-input" value="0">
            <input type="hidden" id="typeName" name="typeName" lay-verify="required" autocomplete="off" class="layui-input" value="0">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">赛程标题</label>
        <div class="layui-input-inline" style="width: 400px;">
            <input type="text" class="layui-input" id="scheduleTitle" name="scheduleTitle">(没有主客队使用)
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">主队名</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="zhudui" name="zhudui" placeholder="主队名">
        </div>
        <label class="layui-form-label">客队名</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="kedui" name="kedui" placeholder="客队名">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">主队ID</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="zhuduiid" name="zhuduiid" value="0" >
        </div>
        <label class="layui-form-label">客队ID</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="keduiid" name="keduiid" value="0" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">主队分数</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="zhuduiscore" name="zhuduiscore">
        </div>
        <label class="layui-form-label">客队分数</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="keduiscore" name="keduiscore">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">比赛时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="playtime" name="playtime" placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">赛程轮次</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="scheduleName" name="scheduleName">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
</div>

<script src="../static/layui/layui.js"></script>
<script src="../static/js/common.js"></script>
<script>
    var timestamp = (new Date()).valueOf();
    document.write('<script language="javascript" src="/json/data/sporttype.js?v=' + timestamp + '"><\/script\>');
</script>
<script>
    var olddata;
    //修改初始化数据传入
    function child(data){
        olddata=data;
    }

    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','upload','laydate', 'form'], function(){
        var $ = layui.$
            ,upload = layui.upload
            ,laydate = layui.laydate
            ,form = layui.form;

        //日期时间范围
        laydate.render({
            elem: '#playtime'
            ,type: 'datetime'
        });


        if (olddata != undefined) {
            var datas = eval(olddata);
            //预加载旧数据
            //表单初始赋值
            form.val('layuiadmin-app-form-list', {
                "id": datas["id"] // "name": "value"
                , "typeName": datas["typeName"]
                , "zhudui": datas["zhudui"]
                , "kedui": datas["kedui"]
                , "zhuduiscore": datas["zhuduiscore"]
                , "keduiscore": datas["keduiscore"]
                , "playtime": datas["playtime"]
                , "scheduleName": datas["scheduleName"]
                , "zhuduiid": datas["zhuduiid"]
                , "keduiid": datas["keduiid"]
                , "scheduleTitle": datas["scheduleTitle"]
            });

            // $("#childid").val(datas["childid"]);
            // $("#sportTypeid").val(datas["typeid"]);
            laydate.render({
                elem: '#start_time'
                , type: 'datetime'
                , value: datas["start_time"]
            });
        }

        form.render('select'); //刷新select选择框渲染



        //主动触发下拉
        $("#itemtypeid1_div").remove();
        $("#itemtypeid2_div").remove();

        var obj = (sporttype_js);
        if (obj["count"] > 0) {
            var html = '<option value =0 >请选择分类</option>';
            for (var a = 0; a < obj["data"].length; a++) {
                var obj2 = obj["data"][a];
                if(obj2.itemtype_id==0&&obj2.isshow==0) {
                    html = html + ('<option value = ' + obj2.id + '>' + obj2.typename + '</option>');
                }
            }
            $('#itemtype_id').append(html);

            if (olddata != undefined) {
                var datas = eval(olddata);
                $("#itemtype_id").val(datas["itemtype_id"]);//初始值

                if (obj["count"] > 0) {
                    var html = '<div class="layui-input-inline" id="itemtypeid1_div" style="width: 150px;"><select name="itemtypeid1"  id="itemtypeid1" lay-filter="itemtypeid1" lay-search=""><option value ="" >请选择分类</option>';
                    for (var a = 0; a < obj["data"].length; a++) {
                        var obj2 = obj["data"][a];
                        if(obj2.itemtype_id==datas["itemtype_id"]&&obj2.itemtypeid1==0&&obj2.isshow==0) {
                            html = html + ('<option value = ' + obj2.id + '>' + obj2.typename + '</option>');
                        }
                    }
                    html = html + ('</select></div>');
                    $('#itemtype_div').append(html);
                    form.render(); //刷新渲染
                    //二级
                    if (obj["count"] > 0) {
                        var html = '<div class="layui-input-inline" style="width: 150px;" id="itemtypeid2_div"><select name="itemtypeid2"  id="itemtypeid2" lay-filter="itemtypeid2" lay-search=""><option value ="" >请选择分类</option>';
                        for (var a = 0; a < obj["data"].length; a++) {
                            var obj2 = obj["data"][a];
                            if(obj2.itemtype_id==datas["itemtype_id"]&&obj2.itemtypeid1==datas["itemtypeid1"]&&obj2.isshow==0) {
                                html = html + ('<option value = ' + obj2.id + '>' + obj2.typename + '</option>');
                            }
                        }
                        html = html + ('</select></div>');
                        $('#itemtype_div').append(html);
                        form.render(); //刷新渲染
                    }
                    $("#itemtypeid2").val(datas["itemtypeid2"]);
                    $("#itemtypeid1").val(datas["itemtypeid1"]);
                    form.render(); //刷新渲染
                }
            }
            form.render(); //刷新渲染
        }


        //类型下拉触发事件
        form.on('select(itemtype_id)', function(data){
            $("#itemtypeid1_div").remove();
            $("#itemtypeid2_div").remove();
            $("#zhibohouse_id").val("");
            var itemtypeid=$("#itemtype_id").find("option:selected").val();

            var obj =  (sporttype_js);
            if (obj["count"] > 0) {
                var html = '<div class="layui-input-inline" id="itemtypeid1_div" style="width: 150px;"><select name="itemtypeid1"  id="itemtypeid1" lay-filter="itemtypeid1" lay-search=""><option value ="">请选择分类</option>';
                for (var a = 0; a < obj["data"].length; a++) {
                    var obj2 = obj["data"][a];
                    if (obj2.itemtype_id == itemtypeid&&obj2.itemtypeid1==0 && obj2.isshow == 0) {
                        html = html + ('<option value = ' + obj2.id + '>' + obj2.typename + '</option>');
                    }
                }
                html = html + ('</select></div>');
                $('#itemtype_div').append(html);
                form.render(); //刷新渲染
            }


            $("#typeName").val($("#itemtype_id").find("option:selected").text());
        });
        form.on('select(itemtypeid1)', function(data){
            $("#itemtypeid2_div").remove();
            var itemtid1=$("#itemtypeid1").find("option:selected").val();

            var obj =  (sporttype_js);
            if (obj["count"] > 0) {
                var html = '<div class="layui-input-inline" style="width: 150px;" id="itemtypeid2_div"><select name="itemtypeid2"  id="itemtypeid2" lay-filter="itemtypeid2" lay-search=""><option value ="">请选择分类</option>';
                for (var a = 0; a < obj["data"].length; a++) {
                    var obj2 = obj["data"][a];
                    if (obj2.itemtypeid1 == itemtid1 && obj2.isshow == 0) {
                        html = html + ('<option value = ' + obj2.id + '>' + obj2.typename + '</option>');
                    }
                }
                html = html + ('</select></div>');
                $('#itemtype_div').append(html);
                form.render(); //刷新渲染
            }

            $("#typeName").val($("#itemtypeid1").find("option:selected").text());
        });
        form.on('select(itemtypeid2)', function(data) {
            $("#typeName").val($("#itemtypeid2").find("option:selected").text());
            //加载team
            var itemtid1=$("#itemtypeid1").find("option:selected").val();
            $.ajax({
                type: "POST",
                url: "/json/sport/get_teamlist.php?limit=5000&sportTypeid=" + itemtid1,//请求路径
                success: function (data) {
                    if (checkqx(data)) {
                        var obj = JSON.parse(data);
                        if (obj["count"] > 0) {
                            var html = '<option value ="" >请选择球队</option>';
                            for (var a = 0; a < obj["data"].length; a++) {
                                var obj2 = obj["data"][a];
                                html = html + ('<option value = ' + obj2.id + '>' + obj2.teamName + '</option>');
                            }
                            $('#zhudui').html(html);
                            $('#kedui').html(html);
                        } else {
                            $('#zhudui').html('<option value ="" >请选择球队</option>');
                            $('#kedui').html('<option value ="" >请选择球队</option>');
                        }
                    }
                }
            });
        });

        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function(data){
            var field = data.field; //获取提交的字段
            $.ajax({
                    type:'POST',
                    url:'/json/sport/add_schedule.php',
                    data:field,
                    success:function(data)
                    {
                        if(data.replace(/\s+/g,"")!=""&&JSON.parse(data)["code"]==-1){
                            layer.msg(obj["msg"], {
                                offset: '15px'
                                ,icon: 1
                                ,time: 1000
                            }, function(){
                                parent.layui.admin.events.closeThisTabs();
                            });
                        }else {
                            //询问框
                            layer.confirm('添加数据成功，关闭当前页！', {
                                btn: ['关闭', '取消'] //按钮
                            }, function () {
                                //执行成功
                                parent.layui.table.reload('LAY-app-content-list'); //重载表格
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            }, function () {
                                parent.layui.table.reload('LAY-app-content-list'); //重载表格
                            });
                        }
                    },
                    error:function()
                    {
                        layer.msg("添加数据失败，请查询错误信息！");
                    }
                }

            );
            parent.layui.table.reload('LAY-app-content-list'); //重载表格
        });

        //监听更新提交
        form.on('submit(layuiadmin-app-form-edit)', function(data){
            var field = data.field; //获取提交的字段
            $.ajax({
                    type:'POST',
                    url:'/json/sport/add_schedule.php?t=edit',
                    data:field,
                    success:function(data)
                    {
                        if(data.replace(/\s+/g,"")!=""&&JSON.parse(data)["code"]==-1){
                            layer.msg(obj["msg"], {
                                offset: '15px'
                                ,icon: 1
                                ,time: 1000
                            }, function(){
                                parent.layui.admin.events.closeThisTabs();
                            });
                        }else {
                            //询问框
                            layer.confirm('更新数据成功，关闭当前页！', {
                                btn: ['关闭', '取消'] //按钮
                            }, function () {
                                //执行成功
                                parent.layui.table.reload('LAY-app-content-list'); //重载表格
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            }, function () {
                                parent.layui.table.reload('LAY-app-content-list'); //重载表格
                            });
                        }
                    },
                    error:function()
                    {
                        layer.msg("更新数据失败，请查询错误信息！");
                    }

                }

            );
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#btnLogo'
            ,accept:'images'
            ,url: '//img.tianmaotv.cn/json/common/upload_img.php?t=sporttype'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#logo_img').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                        $('#demoText').html('');
                    });
                    return layer.msg('上传失败：'+res.msg);
                }
                //上传成功
                layer.msg("上传成功");
                $('#imgurl').val(res.msg);//赋值图片上传地址到隐藏域
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                    $('#demoText').html('');
                });
            }
        });

    })
</script>
</body>
</html>